@media screen and (min-width: 600px){
  main {
    section{
      .gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        img {
          width: 100%;
        }
      }
    }
    
  }
}